html {
  font-size: 100%;
}
body {
  margin-top: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  font-family: Avenir-Next, Roboto, sans-serif;
  font-size: 100%; /* font-size:100% =>16rem => 1 rem     */
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 2.8125rem;
  padding-bottom: 0rem;
}
.navbar ul {
  text-decoration: none;
}
.navbar li {
  text-decoration: none;
  list-style: none;
  display: inline;
  padding: 0.3125rem;
  margin: 0.5rem 1rem;
}
.navbar a {
  position: relative;
  bottom: 0.625rem;
  color: grey;
  text-decoration: none;
}
.nav-img-2 {
  height: 1.5625rem;
  width: 1.5625rem;
  padding: 0.125rem 0rem;
  position: relative;
  left: 29.23rem;
  top: 0.18rem;
}
.nav-img-1 {
  height: 1.5625rem;
  width: 4.375rem;
  position: relative;
  top: 1.1rem;
  left: 0.625rem;
}
.nav-btn-1 {
  width: 6.4375rem;
  height: 1.3125rem;
  position: relative;
  bottom: 0.625rem;
  background-color: #de7039;
  border: 0.0625rem solid;
  color: white;
}
.option-1 {
  border: none;
  position: relative;
  left: 19rem;
  bottom: 0.4rem;
  font-size: 1rem;
  color: grey;
}
.option-2 {
  border: none;
  position: relative;
  left: 11rem;
  bottom: 0.4rem;
  font-size: 1rem;
  color: grey;
}
.option-3 {
  border: none;
  position: relative;
  bottom: 0.6rem;
  font-size: 1rem;
  color: grey;
}

.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://i.imgur.com/ksqOx5F.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 1.25rem 2.8125rem;
  position: relative;
  padding-bottom: 6.25rem;
}
.home-page h1 {
  font-size: 5.625rem;
  z-index: 1;
  color: white;
}
.home-page h3 {
  font-size: 2.0625rem;
  z-index: 1;
  color: white;
}
.home-page-btn-1 {
  text-align: center;
  color: white;
  background: #4b91ca;
  padding: 0.625rem 3.125rem;
  border: 1rem;
  z-index: 1;
  width: 13.5625rem;
  height: 2.6875rem;
  font-size: 0.89rem;
}
.home-page-btn-2 {
  padding: 0.625rem 3.125rem;
  text-align: center;
  border: 0.125rem solid;
  color: white;
  z-index: 1;
  background: transparent;
  width: 13.5625rem;
  font-size: 0.8rem;
}
.home-page-btn-3 {
  height: 2.8125rem;
  width: 24.375rem;
  border-radius: 0.9375rem;
  font-size: 0.8rem;
}
.pocket-monster-section {
  background: #4992ca;
  color: white;
  padding-top: 0.0625rem;
  padding-right: 9.0625rem;
  padding-left: 9.0625rem;
  height: 34.0625rem;
}
.pocket-monster-section h2 {
  font-size: 2.8125rem;
  text-align: center;
}
.pocket-monster-section p {
  text-align: center;
  color: white;
}
.pocket-monster-sub-section {
  display: flex;
}
.fa-fire {
  position: relative;
  left: 13.0rem;
  font-size: 2.5rem;
}

.fa-water {
  position: relative;
  left: 13.4rem;
  font-size: 2.5rem;
}
.fa-leaf {
  position: relative;
  left: 12.9rem;;
  font-size: 2.5rem;
}
.pokemon-statistics-section {
  padding-left: 5.1rem;
  padding-right: 5.1rem;
  padding-bottom: 2.1rem;
}
.pokemon-statistics-section h2 {
  text-align: center;
  font-size: 2.8125rem;
  position: relative;
  top: 4.1rem;
}
.pokemon-statistics-section h4 {
  font-size: 1.875rem;
}
.pokemon-statistics-section p {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
.pokemon-statistics-sub-section {
  display: flex;
  text-align: center;
}
@media (max-width: 968px) {
  .pokemon-statistics-sub-section {
    flex-flow: wrap;
  }
}
@media (max-width: 768px) {
  .pokemon-statistics-sub-section {
    flex-flow: wrap;
  }
}

.pokemon-year {
  padding: 3.1rem;
}
.pokemon-year h2 {
  font-size: 2.8125rem;
}
.pokemon-year-div-table {
  display: flex;
  flex-direction: row;
}
.pokemon-icon {
  height: 10.1rem;
  padding-left: 6.1rem;
  padding-right: 2.1rem;
}
.pokemon-logo {
  height: 3.1rem;
}

.pokemon-year-sub-div h6 {
  color: #908f8b;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 100;
  font-family: Avenir-Next, Roboto, sans-serif;
}
.pokemon-year-sub-div h4 {
  color: #4d4c4c;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 100;
  font-family: Avenir-Next, Roboto, sans-serif;
}
.pokemon-year-sub-div h4,
h6,
img {
  text-align: center;
  margin: 0;
  font-weight: 100;
  font-family: Avenir-Next, Roboto, sans-serif;
}
.pokemon-year-div-table {
  font-weight: 100;
  font-family: Avenir-Next, Roboto, sans-serif;
  padding-right: 12.1rem;
  padding-left: 4.1rem;
}
.pokemon-year-h6 {
  font-size: 1.125rem;
  color: #908f8b;
  padding-left: 2.1rem;
  text-align: left;
}

.Q-A {
  background: #4992ca;
  color: white;
  text-align: center;
  padding: 2.1rem;
}
.Q-A h4 {
  padding-left: 1.1rem;
}
.Q-A h2 {
  font-size: 2.8125rem;
  color: white;
}
.Q-A h4,
li {
  text-align: left;
}

/* pokemon battle */

.pokemon-battle {
  margin-top: 2.4rem;
  padding-left: 18rem;
  padding-right: 18rem;
  margin-bottom: 1.0625rem;
}
.pokemon-battle h2,
h4 {
  text-align: center;
}
.pokemon-battle h2 {
  font-size: 2.8125rem;
}
.pokemon-battle-h4 {
  color: #4992ca;
}
.pokemon-battle button {
  position: relative;
  left: 28.2rem;
  height: 2.5rem;
  width: 13rem;
  background: #4992ca;
  border: none;
  color: white;
}
.pokemon-battle-div {
  display: flex;
}

.pokemon-battle-sub-div-1 {
  flex: 1;
  margin-right: 1.1rem;
}
.pokemon-battle-sub-div-2 {
  flex: 2;
}
.pokemon-battle-sub-div-1 h4 {
  position: relative;
  bottom: 1.125rem;
  text-align: left;
}
.pokemon-battle td,
p {
  color: #8a8a8a;
}
.pokemon-battle-p {
  color: black;
}
.pokemon-battle-sub-div-2 table,
td,
th {
  border: 0.0625rem solid #8a8a8a;
  border-collapse: collapse;
}

/*  */

.pokemon-info {
  background: #424242;
  padding: 1.1rem;
  text-align: center;
  color: white;
  padding-bottom: 5rem;
}
.pokemon-info h4 {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
}
.pokemon-info button {
  background-color: transparent;
  padding: 0.3125rem 3.125rem;
  border: 0.125rem solid white;
  color: white;
  height: 2.1875rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #e4e4e4;
}
.pokemon-card-image {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 0.0625rem solid #e4e4e4;
}
.pokemon-card-h4 {
  text-align: center;
  color: #8a8a8a;
  font-size: 3rem;
  margin-block-end: auto;
  margin-bottom: 1.1rem;
}

.rectangle {
  height: 0.8rem;
  width: 14.7rem;
  background-color: #4992ca;
}
.pokemon-card-image-sub-div-2 {
  background: #f7f7f7;
  height: 15.1rem;
  border-bottom: 0.0625rem solid #e4e4e4;
  padding: 1.0625rem;
  padding-bottom: 0.1rem;
  text-align: center;
}
.pokemon-card-image-sub-div-3 {
  padding: 1.1rem;
}
.pokemon-card p {
  max-width: 12.5rem;
  margin: auto;
}
.pokemon-card h3 {
  color: #8a8a8a;
}

.pokemon-trainer {
  background: #4992ca;
}
.pokemon-trainer h6 {
  color: white;
}

.pokemon-trainer-icon {
  border-radius: 5.9375rem;
  margin-top: 0.8rem;
}

/* Generation Cards */

.Pokemon-generation {
  padding: 1.875rem 6.25rem;
}
.Pokemon-generation h2 {
  text-align: center;
  margin-bottom: 1.875rem;
  font-size: 2.8125rem;
  color: #8a8a8a;
}
.Pokemon-generation-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: auto;
  max-width: 56.25rem;
}
.Pokemon-generation-div div {
  border-top: 0.625rem solid #4992ca;
}
.Pokemon-generation-div p {
  max-width: 21.875rem;
  margin-bottom: 1.25rem;
  line-height: 1.25rem;
}
.Pokemon-generation-div h4 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}

/* Input Section */
.pokemon-input-section {
  background-color: #424242;
  padding: 1.875rem 6.25rem;
  text-align: center;
  color: white;
  padding-bottom: 5.1rem;
}
.pokemon-input-section h4 {
  font-size: 45px;
  margin-bottom: 30px;
}
.pokemon-input-section input {
  width: 19.1rem;
  height: 3.1rem;
  padding-left: 0.3125rem;
  border: none;
}
.pokemon-input-section button {
  font-size: 1rem;
  width: 12.1rem;
  height: 3.1rem;
  background: transparent;
  border: 0.0625rem solid white;
  color: white;
}

/* Pokemon games */
.pokemon-games-section {
  text-align: center;
  padding: 1.875rem 6.25rem;
}
.pokemon-games-section h2 {
  color: #8a8a8a;
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
}
.pokemon-games-section-div {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 968px) {
  .pokemon-games-section-div {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .pokemon-games-section-div {
    flex-wrap: wrap;
  }
}
.pokemon-games-section img {
  height: 12.5rem;
  width: 12.5rem;
}
.pokemon-games-section p {
  max-width: 18.75rem;
  margin: 1.25rem;
  color: black;
}
.pokemon-games-section button {
  font-size: 1.1rem;
  height: 3.1rem;
  width: 15.1rem;
  background: #4992ca;
  color: white;
  border: 0.0625rem solid white;
}

/* Pokemon Design */
.pokemon-design {
  text-align: center;
  padding: 1.875rem 6.25rem;
  background-color: #4992ca;
  color: white;
}
.pokemon-design-div {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 968px) {
  .pokemon-design-div {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .pokemon-design-div {
    flex-wrap: wrap;
  }
}
.pokemon-design h2 {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
}
.pokemon-design h4 {
  margin-bottom: 0.625rem;
  color: white;
}
.pokemon-design img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 100%;
}
.pokemon-design-p {
  text-align: left;
  margin: 0.625rem;
  width: 18.75rem;
  color: white;
}

/* Pokemon-Logo-Section */
.pokemon-logo-section {
  text-align: center;
  padding: 1.875rem 6.25rem;
}
.pokemon-logo-section img {
  height: 6.25rem;
  width: 9.375rem;
}
.pokemon-logo-section h2 {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
  color: #8a8a8a;
}
.pokemon-logo-div {
  display: flex;
  justify-content: space-evenly;

  margin-top: 1.875rem;
}
@media (max-width: 968px) {
  .pokemon-logo-div {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .pokemon-logo-div {
    flex-wrap: wrap;
  }
}

/* Learn More */
.learn-more {
  background-color: #4992ca;
  color: white;
  text-align: center;
  padding: 1.875rem 0.0625rem;
}
.learn-more h4 {
  font-size: 2.8125rem;
  margin-bottom: 1.875rem;
}
.learn-more button {
  background-color: transparent;
  padding: 0.3125rem 3.125rem;
  border: 0.125rem solid white;
  color: white;
  height: 2.1875rem;
}

/* Footer */

.footer {
  background-color: black;
  text-align: center;
  padding: 1.875rem 6.25rem;
  color: #8a8a8a;
  line-height: 1.875rem;
}
.footer-div {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 968px) {
  .footer-div {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .footer-div {
    flex-wrap: wrap;
  }
}

.footer-flex a {
  display: block;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer i {
  margin: 10px;
}
.footer li {
  display: inline;
}

/* Responsive Code */
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
